body {
  font-family: "Courier New", monospaced;
/*  background-color: #cfe0e8; */
}  
h2 {
  color: #667292;
}
h3 {
  color: #8d9db6;
}
a {
  text-decoration: none;
}
a:link {
  color: #336699;
}
a:visited {
  color: #336699;
}
a:hover {
  color: hotpink;
}
a:active {
  color: hotpink;
}
.icon { 
  height: 80px;
  vertical-align: middle;
  margin-right: 10px;
}
.small-icon { 
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.emphasis {
  font-size: 125%;
  font-weight: bold;
  color: #666;
}
.sublist {
  font-weight: bold;
  color: #666;
}
.bump {
  margin-top: 8px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 4px;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: #ddd;
}
table tr:nth-child(odd) {
 background-color: #fff;
}
table th {
  background-color: #aaa;
  color: white;
}
